$mainThemeColor: #00c8b3;
$mainThemeDarkColor: #007a6e;

$errorColor: #eb4a46;

$warningColor: #f2bc1b;

$inputTextFocusColor: #333333;
$inputTextNoFocusColor: #efeeed;
$inputBorderColor: #efeeed;

$buttonTextColor: #ffffff;
$buttonBackgroundColor: #00c8b3;
$disabledButtonTextColor: #dddcdc;
$disabledButtonBackgroundColor: #f6f6f6;
