@use "src/app/theme";

@mixin button {
  background-color: theme.$mainThemeColor;
  color: #fff;
  width: 248px;
  border: none;
  font-size: 1.1rem;
  padding: 8px;
  border-radius: 20px;

  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

.button {
  @include button;
}

.dark {
  background: theme.$mainThemeDarkColor;
}

.fullWidth {
  width: 100%;
}

.disabled {
  background: theme.$disabledButtonBackgroundColor;
  color: theme.$disabledButtonTextColor;
  &:hover {
    cursor: default;
    opacity: 100%;
  }
}
